/* archivo Details.css dentro de carpeta Details dentro de carpeta components */

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #100e1d;
    font-family: "Raleway" serif;
    width: 100%;
    height: 100vh;
  }
  
  .details-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 100vh;
  }
  
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 328px;
    height: 204px;
    background-color: #1e213a;
    color: #e7e7eb;
    border: none;
  }

  .box-small{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 328px;
    height: 160px;
    background-color: #1e213a;
    color: #e7e7eb;
    border: none;
  }

  .cajas {
    display: flex;
    gap: 3rem;
  }
  
  .title {
    color: #e7e7eb;
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .data {
    color: #e7e7eb;
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    flex-wrap: wrap;
  }
