/* archivo global.css dentro de app dentro de src */

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Estilos para el componente Details */
.details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #100e1d;
    font-family: "Raleway";
    width: 100%;
  }

  .number{
    font-size: 64px;
  }

  
  .title {
    color: #e7e7eb;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .data {
    color: #e7e7eb;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  /* Estilos para el componente Card */
  .main {
    font-family: Raleway;
    width: 26rem;
    height: 100vh;
    background-color: #1e213a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .imagen {
    height: 40%;
  }
  
  .temp {
    font-size: 5rem;
    color: #e7e7eb;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .place {
    color: #88869d;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .fecha {
    color: #88869d;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .grP {
    color: #a09fb1;
    font-family: Raleway;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  /* Estilos para el componente principal */
  .main-container {
    display: flex;
  }